.chrome-container
    position fixed
    width: 300px
    height: max-content
    top: 0
    left: 0
    border: 1px solid #ccc
    background: #fff
    overflow-x: hidden
    overflow-y: auto
    z-index: 99999
    .header
        display: flex
        justify-content: space-between;
        align-items: center
        height: 30px
        padding: 0 10px;
        border-bottom: 1px solid #ccc
        .close-btn
            cursor: pointer
    .main
        display: block
        padding: 5px
        .form
            display: flex
            align-items: center
            span
                flex: 0 0 42px
        .send-btn
            width: 100%
            margin-top: 5px
        .separate
            margin: 10px 0 5px
        .textarea
            height: 100px
            resize: none