.FF-content-modal
    position fixed
    width: 360px
    height: max-content
    top: 0
    left: 0
    background: #fff
    overflow-y: auto
    overflow-x: hidden
    border-radius: 6px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    user-select: none
    z-index: 99999
    .header
        display: flex
        justify-content: space-between;
        align-items: center
        height: 36px
        padding: 0 10px;
        border-bottom: 1px solid #ccc
        .close-btn
            cursor: pointer
    .main
        display: block
        padding: 10px
        .form
            .form-item
                width: 100%
                display: flex
                align-items: flex-start
                margin-bottom: 12px
                .label
                    flex: 0 0 70px
                .ff-textarea
                    position: static
                    resize: none
                    font-size: 12px
                    border: 1px solid #ccc
        .send-btn-wrap
            width: 100%
            margin-top: 5px
            .send-btn
                width: 100%
                box-sizing: border-box
        
